---
layout: handbook-page-toc
title: Engineers
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Who we are


### Create

#### Create:Source Code
<%= direct_team(manager_role: 'Backend Engineering Manager, Create:Source Code') %>

#### Create:Code Review
<%= direct_team(manager_role: 'Backend Engineering Manager, Create:Code Review') %>

#### Create:Editor
<%= direct_team(manager_role: 'Frontend Engineering Manager, Create:Knowledge & Create:Editor') %>

#### Create:Source Code Frontend
<%= direct_team(manager_role: 'Frontend Engineering Manager, Create:Source Code, Delivery & Scalability') %>

#### Create:Code Review Frontend
<%= direct_team(manager_role: 'Frontend Engineering Manager, Create:Code Review') %>

#### Gitaly
<%= direct_team(manager_role: 'Backend Engineering Manager, Gitaly') %>

#### Ecosystem Backend

<%= direct_team(manager_role: 'Backend Engineering Manager, Ecosystem') %>

#### Ecosystem Frontend

<%= direct_team(manager_role: 'Engineering Manager, Ecosystem') %>
