---
layout: default
title: Customer Success Services
description: "How GitLab Outcomes Services accelerates customer outcomes and value realization"
suppress_header: true
extra_css:
  - tam.css
---

.tam-container
  .messaging-container
    .tam-header
      %p Customer Success Services
      %h2 How customer success services accelerate value realization and business outcomes
    .message.flex-container.full-width
      %p.full-width
        Ensure ongoing value, business outcomes, and a great customer experience are achieved through the adoption of the GitLab platform
  .tam-feature.flex-container.full-width
    .full-width
      %h2 Services
      %ul
        %li Monitor the customer's usage to ensure they are adopting licenses, use cases, and features to support their business objectives and goals.
        %li Recommend best practices and enablement content (e.g., product documentation, best practice guides, webinars) that would help customers adoption and/or operationalize the platform capabilities.
        %li Identify adoption issues, delays, or barriers to provide assistance.
        %li Recommendations on product versions or configurations to improve security and performance
      %p.full-width
        Services will be delivered via Technical Account Manager (TAM) or digitally. 
    .full-width
  .tam-feature.flex-container.full-width
    .full-width
      %h2 References
      %ul
        %li 
          %a{href: 'https://about.gitlab.com/handbook/customer-success/vision/'} Customer Success Vision Page
        %li 
          %a{href: 'https://about.gitlab.com/handbook/customer-success/product-usage-data/'} Operational Data Vision Page
        %li 
          %a{href: 'https://about.gitlab.com/handbook/customer-success/tam/'} Technical Account Manager Handbook
    .full-width
