.row
  .col-xs-12.col-md-6.col-md-offset-1
    %h2 GitLab is built for cloud native
    %ul
      %li
        Define your CI job environments with immutable
        %b Docker container images
        for consistency and reproducibility
      %li
        Utilize our
        %b Kubernetes integration
        to enable features like AutoDevOps, deploy boards, review apps and canary deployments
      %li
        Use our cloud deployment templates to easily deploy to cloud container and Kubernetes environments
  .hidden-xs.hidden-sm.col-md-4
    = image_tag "/images/cloud-native-illustration_2x.png", alt: "Kubernetes Cloud Native", style: "margin-top: 80px;"
%hr.divider/
